body {
  background-color: #fafafa;
}

.body {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin: auto;
}

.left-right {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.left-right01 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

.top-down {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.top-down01 {
  border-radius: 8px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 25px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  box-shadow: 0 1px 3px #aaa;
  overflow: hidden;
  /* border: 1px solid gray; */
}